MERGEWORK_DATABASE_URL=sqlite:////srv/mergework/data/mergework.sqlite3
MERGEWORK_PUBLIC_BASE_URL=https://mrwk.online
MERGEWORK_GITHUB_WEBHOOK_SECRET=
MERGEWORK_GITHUB_ISSUE_TOKEN=
MERGEWORK_GITHUB_OAUTH_CLIENT_ID=
MERGEWORK_GITHUB_OAUTH_CLIENT_SECRET=
MERGEWORK_ADMIN_LOGINS=
MERGEWORK_GITHUB_ACCEPTED_LABELERS=
MERGEWORK_ADMIN_TOKEN=
MERGEWORK_COOKIE_SECRET=
MERGEWORK_TREASURY_EXECUTOR_ENABLED=0
MERGEWORK_TREASURY_EXECUTOR_INTERVAL_SECONDS=300
MERGEWORK_TREASURY_EXECUTOR_BATCH_LIMIT=25
